<%= form_with scope: :subject, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= simple_form_for :subject do |f| %>
  <%= f.input :name %>
  <%= f.input :date, as: :date, html5: true  %>
  <%= f.input :teacher_id %>
  <%= f.input :number %>
  <%= f.button :submit %>
<% end %>